".html.text.vue":
  "za-loading":
    "prefix":"zaLoading",
    "body":"""
      <za-loading :visible.sync='${1:visible}'>${2:content}</za-loading>
    """,
    "description":""

  "za-toast":
    "prefix":"zaToast",
    "body":"""
      <za-toast
      :visible.sync='${1:visible}'
      @close='${2:function}'
      :duration='${3:duration}'>
      </za-toast>
    """,
    "description":""

  "za-swipe-action":
    "prefix":"zaSwipeAction",
    "body":"""
      <za-swipe-action :right='${1:right}' :left='${2:left}'>
        <za-cell>${3:content}</za-cell>
      </za-swipe-action>
    """,
    "description":""

  "za-pull":
    "prefix":"zaPull",
    "body":"""
     <za-pull :on-refresh='${1:refresh}' :refreshing='${2:refreshing}'>
      <za-cell v-for='i in myData' :key='i'>${3:content}</za-cell>
    </za-pull>
    """,
    "description":""

  "za-popup":
    "prefix":"zaPopup",
    "body":"""
        <za-popup
          :visible.sync='${1:visible}'
          direction='${2:direction}'
          :duration='${3:duration}'
          maskType='${4:maskType}'
          @close='${5:function}'>
          <div>${1:content}</div>
        </za-popup>
    """,
    "description":""

  "za-modal":
    "prefix":"zaModal",
    "body":"""
        <za-modal :visible.sync='${1:visible}' @close='${2:function}' title='${3:title}' :showClose='${4:function}'>
          ${5:content}
        </za-modal>
    """,
    "description":""

  "za-button":
    "prefix":"zaButton",
    "body":"""
      <za-button theme='${1:primary}' size='${2:size}' shape='${3:shape}'>${3:conent}</za-button>
    """,
    "description":""

  "za-actionsheet":
    "prefix":"zaActionSheet",
    "body":"""
      <za-actionsheet
        :visible.sync='${1:visible}'
        :actions='${2:function}'
        :showCancel='${3:showCancel}'
        @cancel='${4:function}'>
      </za-actionsheet>
    """,
    "description":""

".meta.tag":
  "v-za-loading":
    "prefix":"v-za-loading",
    'body': 'v-za-loading=\"${1:condition}\"'

".source.js":
    "zaToast":
      "prefix": "zaToast",
      "body": """
      this.$zaToast('${1:text}',{
        duration: '${2:duration}'
      });
      """
