".html.text.vue":
  "za-loading":
    "prefix":"zaLoading",
    "body":"""
      <za-loading :visible.sync='${1:visible}'>${2:content}</za-loading>
    """,
    "description":""

  "za-toast":
    "prefix":"zaToast",
    "body":"""
      <za-toast
      :visible.sync='${1:visible}'
      @close='${2:function}'
      :duration='${3:duration}'>
      </za-toast>
    """,
    "description":""

  "za-swipe-action":
    "prefix":"zaSwipeAction",
    "body":"""
      <za-swipe-action :right='${1:right}' :left='${2:left}'>
        <za-cell>${3:content}</za-cell>
      </za-swipe-action>
    """,
    "description":""

  "za-pull":
    "prefix":"zaPull",
    "body":"""
     <za-pull :on-refresh='${1:refresh}' :refreshing='${2:refreshing}'>
      <za-cell v-for='i in myData' :key='i'>${3:content}</za-cell>
    </za-pull>
    """,
    "description":""

  "za-popup":
    "prefix":"zaPopup",
    "body":"""
        <za-popup
          :visible.sync='${1:visible}'
          direction='${2:direction}'
          :duration='${3:duration}'
          maskType='${4:maskType}'
          @close='${5:function}'>
          <div>${1:content}</div>
        </za-popup>
    """,
    "description":""

  "za-modal":
    "prefix":"zaModal",
    "body":"""
        <za-modal :visible.sync='${1:visible}' @close='${2:function}' title='${3:title}' :showClose='${4:function}'>
          ${5:content}
        </za-modal>
    """,
    "description":""

  "za-button":
    "prefix":"zaButton",
    "body":"""
      <za-button theme='${1:primary}' size='${2:size}' shape='${3:shape}'>${3:conent}</za-button>
    """,
    "description":""

  "za-actionsheet":
    "prefix":"zaActionSheet",
    "body":"""
      <za-actionsheet
        :visible.sync='${1:visible}'
        :actions='${2:function}'
        :showCancel='${3:showCancel}'
        @cancel='${4:function}'>
      </za-actionsheet>
    """,
    "description":""

   "za-checkbox":
     "prefix":"zaCheckbox",
     "body":"""
          <za-checkbox v-model='' @change=''>
            ${1:content}
          </za-checkbox>
      """,
      "description":""

  "za-checkbox-group":
    "prefix":"zaCheckboxGroup",
    "body":"""
        <za-checkbox-group v-model='' @change=''>
          <za-checkbox label=''>${1:content}</za-checkbox>
        </za-checkbox-group>
     """,
     "description":""
  "za-input":
    "prefix":"zaInput",
    "body":"""
      <za-input v-model='' type="text" placeholder="${1:placeholder}" ></za-input>
     """,
     "description":""
  "za-picker":
    "prefix":"zaPicker",
    "body":"""
      <za-picker
        :visible.sync=''
        v-model=''
        :dataSource=''
        @ok=''
        @cancel=''
        >
      </za-picker>
     """,
     "description":""
  "za-radio-group":
    "prefix":"zaRadioGroup",
    "body":"""
      <za-radio-group v-model=''>
        <za-radio v-for='${1:items}' :label='' :key=''>${1:item}</za-radio>
      </za-radio-group>
     """,
     "description":""
  "za-stepper":
    "prefix":"zaStepper",
    "body":"""
      <za-stepper v-model='' :min='' :max='' :step='' ></za-stepper>
     """,
     "description":""
  "za-switch":
    "prefix":"zaSwitch",
    "body":"""
      <za-switch v-model='' @change='' ></za-switch>
     """,
     "description":""
  "za-uploader":
    "prefix":"zaUploader",
    "body":"""
      <za-uploader @change='' :before-change='' accept=''>
        ${1:content}
      </za-uploader>
     """,
     "description":""
  "za-badge":
    "prefix":"zaBadge",
    "body":"""
      <za-badge text='' shape=''></za-badge>
     """,
     "description":""
  "za-cell":
    "prefix":"zaCell",
    "body":"""
      <za-cell title='' description=''></za-cell>
     """,
     "description":""
  "za-icon":
    "prefix":"zaIcon",
    "body":"""
      <za-icon type='' theme=''></za-icon>
     """,
     "description":""
  "za-message":
    "prefix":"zaMessage",
    "body":"""
      <za-message :visible.sync='' icon='' theme=''></za-message>
     """,
     "description":""
  "za-panel":
    "prefix":"zaPanel",
    "body":"""
      <za-panel>
        <za-panel-header title='' />
        <za-panel-body>
          <za-cell>${1:content}</za-cell>
        </za-panel-body>
      </za-panel>
    """,
    "description":""
  "za-notice-bar":
    "prefix":"zaNoticeBar",
    "body":"""
      <za-notice-bar :visible.sync='' theme=''></za-notice-bar>
     """,
     "description":""
  "za-progress":
    "prefix":"zaProgress",
    "body":"""
      <za-progress :percent='' theme=''></za-progress>
     """,
     "description":""
  "za-spinner":
    "prefix":"zaSpinner",
    "body":"""
      <za-spinner size='' theme=''></za-spinner>
     """,
     "description":""
  "za-swipe":
    "prefix":"zaSpinner",
    "body":"""
      <za-swipe :height='' direction=''>
        <za-swipe-item>
        <div>${1:content}</div>
      </za-swipe-item>
      </za-swipe>
     """,
     "description":""
  "za-tabs":
    "prefix":"zaTabs",
    "body":"""
      <za-tabs v-model='' @change=''>
        <za-tab-pane label='' name=''>
          <div>${1:content}</div>
        </za-tab-pane>
        <za-tab-pane label='' name=''>
          <div>${2:content}</div>
        </za-tab-pane>
      </za-tabs>
     """,
     "description":""

".meta.tag":
  "v-za-loading":
    "prefix":"v-za-loading",
    'body': 'v-za-loading=\"${1:condition}\"'

".source.js":
    "zaToast":
      "prefix": "zaToast",
      "body": """
      this.$zaToast('${1:text}',{
        duration: '${2:duration}'
      });
      """
